<!DOCTYPE html><html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
    
        <div id="baseexample">
            <p>{{ message }}</p>
            <input v-focus v-model="message">
            <input v-focusb v-model="message">

            <p>Scroll down the page</p>
            <p v-pin="200">Stick me 200px from the top of the page</p>
        </div>

        <div id="dynamicexample">
            <h3>Scroll down inside this section ↓</h3>
            <p v-pin:[direction]="200">I am pinned onto the page at 200px to the left.</p>
          </div>

        
        <script src="vue-directive.js"></script>
    </body>
</html>